/* Add padding to containers */
#light #container {
  background-size: 300% 300%;
  background-image: linear-gradient(
          -45deg,
          rgb(163, 3, 249) 0% 
          rgb(164, 82, 194) 25%, 
          rgba(87,111,230,1) 51%, 
          rgba(59,173,227,1) 100%,
    );  
  animation: AnimateBG 20s ease infinite;
  border-radius: 1cm;
  border-color: azure;
  text-align: center;
  height: auto;
  width: 700px;
  border: 0.5cm darkblue;
  border-style:inset;
}

#dark #container{
  background-size: 300% 300%;
  background-image: linear-gradient(
          -45deg,
          rgb(163, 3, 249) 0% 
          rgb(164, 82, 194) 25%, 
          rgba(87,111,230,1) 51%, 
          rgba(59,173,227,1) 100%,
    );  
  animation: AnimateBG 20s ease infinite;
  border-radius: 1cm;
  border-color: azure;
  text-align: center;
  height: auto;
  width: 700px;
  border: 0.5cm lightcyan;
  border-style:inset;
}

header{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#logInBody{
  padding-left: 10%;
  padding-top: 5%;
  padding-right: 10%;
  padding-bottom: 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

@keyframes AnimateBG { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

#light #heading{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 55px;
  color: darkblue;
}

#dark #heading{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 55px;
  color: lightcyan;
}

input[type=text], input[type=password] {
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 17px;
  text-align: center;
  color: lightblue;
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#light #b{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 25px;
  color: darkblue;
  flex-direction: column;
  position: sticky;
}

#dark #b{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 25px;
  color: lightcyan;
  flex-direction: column;
  position: sticky;
}

#dark .loginButton {
  background-color: lightcyan ;
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 20px;
  border-radius: 2cm;
  color: black;
  position: relative;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

#light .loginButton {
  background-color: darkblue;
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 20px;
  border-radius: 2cm;
  color: white;
  position: relative;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}
