/* Add padding to containers */
@keyframes AnimateBG { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

#light #container {
    border-radius: 1cm;
    border-color: azure;
    text-align: center;
    height: auto;
    width: 700px;
    border: 0.5cm darkblue;
    border-style:inset;
}

#dark #container{
  border-radius: 1cm;
  border-color: azure;
  text-align: center;
  height: auto;
  width: 700px;
  border: 0.5cm lightcyan;
  border-style:inset;
}

header{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.elementBody{
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}


#basketBody{
  padding-left: 10%;
  padding-top: 5%;
  padding-right: 10%;
  padding-bottom: 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#light #heading{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 55px;
  color: darkblue;
}

#dark #heading{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 55px;
  color: lightcyan;
}

#dark input[type=uname], input [type=password] {
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 17px;
  text-align: center;
  color: darkblue;
  background-color: lightcyan;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 0.4cm;
}

#light input[type=uname], input [type=password] {
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 17px;
  text-align: center;
  color: lightcyan;
  background-color: darkblue;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 0.4cm;
}


#dark input[type=text] {
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 15px;
  text-align: center;
  color: darkblue;
  background-color: lightcyan;
  width: auto;
  height: 35px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#light input[type=text] {
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 15px;
  text-align: center;
  color: lightcyan;
  background-color: darkblue;
  width: auto;
  height: 35px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#light #b{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 25px;
  color: darkblue;
  flex-direction: column;
  position: sticky;
}

#dark #b{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 25px;
  color: lightcyan;
  flex-direction: column;
  position: sticky;
}

#dark .loginButton {
  background-color: lightcyan ;
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 20px;
  border-radius: 2cm;
  color: black;
  position: relative;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

#light .loginButton {
  background-color: darkblue;
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 20px;
  border-radius: 2cm;
  color: white;
  position: relative;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}
