.darkMode{
    background-color: darkblue;
}

#box {
    height: 50px;
    width: auto;
    background-color: azure;
}


#darkModeBtn{
    color: paleturquoise;
    background-color: slategray;
    width: 200px;
    flex-flow: row wrap;
    border: 2px solid rgb(243, 217, 182);
    border-radius: 3px;
    border-width: 3px;
    border-style: solid;
    font-weight: bold;
    font-size: medium;
    padding: 10px 0 10px;
}