#Footer{
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.helpline{
  display: grid;
  justify-content: right;
  font-size: large;
}

.socials{
  display: grid;
  justify-content: center;
  font-size: large;
}
  
.Legalstuff{
  display: grid;
  justify-content: left;
  font-size: large;
}

.copyrights{
    display: flex-grid;
    justify-content: center;
    padding-left: 3cm;
    padding-top: 1cm;
    padding-bottom: 1cm;
    font-size: large;
}
  
  .fa-solid fa-inbox{
    height: 120%;
  }
  .fa-inbox:hoover{
    transform: scale(5.5); 
  
  }

  #light ul{
    font-family: 'Changa One', cursive;
    font-variant-caps: small-caps;
    font-size: auto;
    color:darkslategrey;
  }

  #light li{
    font-family: 'Changa One', cursive;
    font-variant-caps: small-caps;
    font-size: auto;
    color:darkslategrey;
  }

  #light p{
    font-family: 'Changa One', cursive;
    font-variant-caps: small-caps;
    font-size: auto;
    color:darkslategrey;
  }

  #dark ul{
    font-family: 'Changa One', cursive;
    font-variant-caps: small-caps;
    font-size: auto;
    color:lightcyan;
  }

  #dark li{
    font-family: 'Changa One', cursive;
    font-variant-caps: small-caps;
    font-size: auto;
    color:lightcyan;
  }

  #dark p{
    font-family: 'Changa One', cursive;
    font-variant-caps: small-caps;
    font-size: auto;
    color:lightcyan;
  }