.footer{
  position: absolute;
  width: 100%;
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
  
  .copyrights{
  text-align: center;
  }
  
  .fa-solid fa-inbox{
    height: 120%;
  }
  .fa-inbox:hoover{
    transform: scale(5.5); 
  
  }

  ul{
    font-family: 'Changa One', cursive;
    font-variant-caps: small-caps;
    font-size: auto;
    color:darkslategrey;
  }

  li{
    font-family: 'Changa One', cursive;
    font-variant-caps: small-caps;
    font-size: auto;
    color:darkslategrey;
  }

  p{
    font-family: 'Changa One', cursive;
    font-variant-caps: small-caps;
    font-size: auto;
    color:darkslategrey;
  }