
*{
  box-sizing: border-box;
  list-style: none;
} 

lightBody {
  background-color: black;
}

#titleBar{
  background-color: blanchedalmond;
  height: 500px;
  width: auto;
  text-align: center;
  padding-left: 1cm;
  padding: 10px;
}

#titleImage{
  background-color: blanchedalmond;
  height: 50px;
  width: 50px;
}

#title{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 70px;
  color: lightslategrey;
  text-align: center;
  padding: 60px;
}

#subtitle{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 30px;
  color: lightslategrey;
}

#headingLeft{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 30px;
  color: lightslategrey;
  text-align: left;
  padding-left: 1cm;
}

#headingCenter{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 30px;
  color: lightslategrey;
  text-align: center;
  padding-right: 1cm;
  padding-left: 1cm;
}

#headingRight{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 30px;
  color: lightslategrey;
  text-align: right;
  padding-right: 1cm;
}

#imageBox{
  height: 800px;
  width: auto;
  background-color: lightslategray;
}

#image{
  height: 740px;
  width: 1360px;
  padding-left: 2cm;
  padding-top: 1cm;
}

#trustPilot{
  height: 100px;
  width: 225px;
}

.navBar{
  color: blue;
}

.buttonDesign{
  color: lightslategrey;
  background-color: blanchedalmond;
  width: 200px;
  flex-flow: row wrap;
  border: 2px solid rgb(243, 217, 182);
  border-radius: 3px;
  border-width: 3px;
  border-style: solid;
  font-weight: bold;
  font-size: medium;
  padding: 10px 0 10px;
}

.basketAndLogIn{
  color: lightslategrey;
  background-color: blanchedalmond;
  width: 200px;
  flex-flow: row wrap;
  border: 2px solid rgb(243, 217, 182);
  border-radius: 3px;
  border-width: 3px;
  border-style: solid;
  text-align: center;
  align-items: flex-start;
  font-weight: bold;
  font-size: medium;
  padding: 10px 10px 10px 10px;
  border-image: space;
}

.footer{
  position: absolute;
  width: 100%;

}

.copyrights{
text-align: center;
}

.fa-solid fa-inbox{
  height: 120%;
}
.fa-inbox:hoover{
  transform: scale(5.5); 

}

