
/* Main elements on the page... */

#light {
  background-color: aquamarine;
}

#dark {
  background: rgb(23,12,208);
  background: linear-gradient(90deg, rgba(23,12,208,1) 0%, rgba(9,9,121,1) 49%, rgba(0,212,255,1) 100%);
}


/* Headings and text */

*{
  list-style: none;
} 

#light .titleBar{
background-color: burlywood;
}

#dark .titleBar{
  background: rgb(23,12,208);
  background: linear-gradient(90deg, rgba(23,12,208,1) 0%, rgba(9,9,121,1) 49%, rgba(0,212,255,1) 100%);
  }

#search{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 25px;
  color: lightslategrey;
}

#searchBar{
  height: 30px;
  width: 300px;
  background-color: rgb(248, 238, 222);
}

#titleBar{
  background-color: blanchedalmond;
  height: 500px;
  width: auto;
  text-align: center;
  padding-left: 1cm;
  padding: 10px;
}

#titleImage{
  background-color: blanchedalmond;
  height: 50px;
  width: 50px;
}

#dark #title{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 70px;
  color: antiquewhite;
  text-align: center;
  padding: 60px;
}

#light #title{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 70px;
  color: darkslategray;
  text-align: center;
  padding: 60px;
}

#subtitle{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 30px;
  color: lightslategrey;
}

#headingLeft{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 30px;
  color: lightslategrey;
  text-align: left;
  padding-left: 1cm;
}

#headingCenter{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 30px;
  color: lightslategrey;
  text-align: center;
  padding-right: 1cm;
  padding-left: 1cm;
}

#headingRight{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 30px;
  color: lightslategrey;
  text-align: right;
  padding-right: 1cm;
}

#imageBox{
  height: 800px;
  width: auto;
  background-color: lightslategray;
}

#image{
  height: 740px;
  width: 1360px;
  padding-left: 2cm;
  padding-top: 1cm;
}

#trustPilot{
  height: 100px;
  width: 225px;
}

.navBar{
  color: blue;
}

.buttonDesign{
  color: lightslategrey;
  background-color: blanchedalmond;
  width: 200px;
  flex-flow: row wrap;
  border: 2px solid rgb(243, 217, 182);
  border-radius: 3px;
  border-width: 3px;
  border-style: solid;
  font-weight: bold;
  font-size: medium;
  padding: 10px 0 10px;
}

.basketAndLogIn{
  color: lightslategrey;
  background-color: blanchedalmond;
  width: 200px;
  flex-flow: row wrap;
  border: 2px solid rgb(243, 217, 182);
  border-radius: 3px;
  border-width: 3px;
  border-style: solid;
  text-align: center;
  align-items: flex-start;
  font-weight: bold;
  font-size: medium;
  padding: 10px 10px 10px 10px;
  border-image: space;
}

.footer{
  position: absolute;
  width: 100%;
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.copyrights{
text-align: center;
}


.fa-inbox{
  height: 120%;
  
}
.fa-inbox:hoover{
  transform: scale(5.5); 

}

#yourcart{
  text-align: center;
}

#cartcolumn{
display: flexbox;
text-align: center;
}

#col-span-8{
  padding-left: 200px;
}
.product{
  padding-left:  200px; ;
}

.results{
  padding-left: 200px;
}

#addtobasket{
padding-left: 200px;
}

input[type=text], select, textarea{
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#subject{
  height: 200px;
}
.containerForm {
  border-radius: 5px;
  padding: 19px auto;
  max-width: 500px;
  margin: 0 auto;
}
#Contactform{
  text-align: center;

}


/*------------ media Queries section -------------*/



/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}
/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */

@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}
