
/* Main elements on the page... */

#light {
    width: 100%;
    height: 100%;
    background-size: 300% 300%;
    background-image: linear-gradient(
          -45deg, 
          rgb(166, 180, 244) 0%, 
          rgb(169, 228, 243) 25%, 
          rgb(153, 250, 232) 51%, 
          rgb(127, 244, 185) 100%
    );  
    animation: AnimateBG 20s ease infinite;
}

#dark {
    width: 100%;
    height: 100%;
    background-size: 300% 300%;
    background-image: linear-gradient(
          -45deg, 
          #3bade3 0%, 
          #576fe6 25%, 
          #a452c2 51%, 
          #a303f9 100%
    );  
    animation: AnimateBG 20s ease infinite;
  }
  
  @keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }

  #navBar{
    padding-left: 2.5cm;
    padding-top: 1cm
  }

#light .buttonDesign{
  /* background color */
  background-size: 300% 300%;
  background-image: linear-gradient(
          -45deg, 
          rgb(166, 180, 244) 0%, 
          rgb(169, 228, 243) 25%, 
          rgb(153, 250, 232) 51%, 
          rgb(127, 244, 185) 100%
    );  
  animation: AnimateBG 20s ease infinite;
  width: 200px;
  flex-flow: row wrap;
  /* border */
  border: 2px solid rgb(198, 218, 236);
  border-radius: 3px;
  border-width: 3px;
  border-style: solid;
  /* text components */
  color: darkblue;
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 20px;
  /* format */
  padding: 10px 0 10px;
}

#dark .buttonDesign{
  /* background colours */
  background-size: 300% 300%;
    background-image: linear-gradient(
          -45deg, 
          rgba(59,173,227,1) 0%, 
          rgba(87,111,230,1) 25%, 
          rgb(164, 82, 194) 51%, 
          rgb(163, 3, 249) 100%
    );  
  animation: AnimateBG 20s ease infinite;
  /* wrapping / size */
  width: 200px;
  flex-flow: row wrap;
  /* border */
  border: 2px solid rgb(173, 219, 245);
  border-radius: 3px;
  border-width: 3px;
  border-style: solid;
  /* text */
  color: #e0ffff;
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 20px;
  padding: 10px 0 10px;
}

#dark .basketAndLogIn{
  /* background colours */
  background-size: 300% 300%;
    background-image: linear-gradient(
          -45deg, 
          rgba(59,173,227,1) 0%, 
          rgba(87,111,230,1) 25%, 
          rgb(164, 82, 194) 51%, 
          rgb(163, 3, 249) 100%
    );  
  animation: AnimateBG 20s ease infinite;
  /* wrapping / size */
  width: 200px;
  flex-flow: row wrap;
  /* border */
  border: 2px solid rgb(173, 219, 245);
  border-radius: 3px;
  border-width: 3px;
  border-style: solid;
  /* text */
  color: lightcyan;
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 20px;
  padding: 10px 0 10px;
}

#light .basketAndLogIn{
  /* background colours */
  background-size: 300% 300%;
    background-image: linear-gradient(
          -45deg, 
          rgb(166, 180, 244) 0%, 
          rgb(169, 228, 243) 25%, 
          rgb(153, 250, 232) 51%, 
          rgb(127, 244, 185) 100%
    );  
  animation: AnimateBG 20s ease infinite;
  /* wrapping / size */
  width: 200px;
  flex-flow: row wrap;
  /* border */
  border: 2px solid rgb(173, 219, 245);
  border-radius: 3px;
  border-width: 3px;
  border-style: solid;
  /* text */
  color: darkblue;
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 20px;
  padding: 10px 0 10px;
}

/* Headings and text */

#dark #accordionContent{
  background-size: 300% 300%;
    background-image: linear-gradient(
          -45deg, 
          rgba(59,173,227,1) 0%, 
          rgba(87,111,230,1) 25%, 
          rgb(164, 82, 194) 51%, 
          rgb(163, 3, 249) 100%
    );  
  animation: AnimateBG 20s ease infinite;
  width: auto;
  text-align: center;
  padding-top: 1cm;
  padding-left: 1cm;
  padding: 10px;
}

#light #accordionContent{
  background-size: 300% 300%;
  background-image: linear-gradient(
        -45deg, 
        rgb(127, 244, 185) 0%,
        rgb(153, 250, 232) 25%,
        rgb(169, 228, 243) 51%,
        rgb(166, 180, 244) 100%
  );  
  animation: AnimateBG 20s ease infinite;
  width: auto;
  text-align: center;
  padding-top: 1cm;
  padding-left: 1cm;
  padding: 10px;
}


#light #accordionIcon{
  color: darkblue;
}

#dark #accordionIcon{
  color: lightcyan;
}

#light #accordionHeader{
  font-size: x-large;
  color: darkblue;
}

#dark #accordionHeader{
  font-size: x-large;
  color: lightcyan;
}

#light #accordionBody{
  font-size: x-large;
  color: darkblue;
}

#dark #accordionBody{
  font-size: x-large;
  color: lightcyan;
}

#dark .switch{
  color:lightcyan;
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 35px;
}

#light .switch{
  color:darkblue;
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 35px;
}

*{
  list-style: none;
} 

#light .titleBar{
  background-size: 300% 300%;
  background-image: linear-gradient(
        -45deg, 
        rgb(127, 244, 185) 0%
        rgb(153, 250, 232) 25%,
        rgb(169, 228, 243) 51%,
        rgb(166, 180, 244) 100%
  );  
  animation: AnimateBG 20s ease infinite;
  width: auto;
  text-align: center;
  padding-left: 1cm;
  padding: 10px;
}

#dark .titleBar{
  background-size: 300% 300%;
  background-image: linear-gradient(
          -45deg,
          rgb(163, 3, 249) 0% 
          rgb(164, 82, 194) 25%, 
          rgba(87,111,230,1) 51%, 
          rgba(59,173,227,1) 100%,
    );  
  animation: AnimateBG 20s ease infinite;
  width: auto;
  text-align: center;
  padding-left: 1cm;
  padding: 10px;
  }

#dark #search{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 25px;
  color: lightcyan;
  padding-right: 0.5cm;
}

#light #search{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 25px;
  color: darkblue;
  padding-right: 0.5cm;
}

#light #searchBar{
  height: 30px;
  width: 300px;
  background-color: lightcyan;
  color: darkblue;
}

#dark #searchBar{
  height: 30px;
  width: 300px;
  background-color: lightcyan;
  color: darkblue;
}

#titleImage{
  background-color: blanchedalmond;
  height: 50px;
  width: 50px;
}

#dark #title{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 90px;
  color: lightcyan;
  text-align: center;
  padding: 60px;
}

#light #title{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 90px;
  color: darkblue;
  text-align: center;
  padding: 60px;
}


#light #subtitle{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 40px;
  color: darkblue;
}

#dark #subtitle{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 40px;
  color: lightcyan;
}

#dark #headingLeft{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 30px;
  color: lightcyan;
  text-align: left;
  padding-left: 1cm;
}

#dark #headingCenter{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 30px;
  color: lightcyan;
  text-align: center;
  padding-right: 1cm;
  padding-left: 1cm;
}

#dark #headingRight{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 30px;
  color: lightcyan;
  text-align: right;
  padding-right: 1cm;
}


#light #headingLeft{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 30px;
  color: darkblue;
  text-align: left;
  padding-left: 1cm;
}

#light #headingCenter{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 30px;
  color: darkblue;
  text-align: center;
  padding-right: 1cm;
  padding-left: 1cm;
}

#light #headingRight{
  font-family: 'Changa One', cursive;
  font-variant-caps: small-caps;
  font-size: 30px;
  color: darkblue;
  text-align: right;
  padding-right: 1cm;
}

#imageBox{
  height: 800px;
  width: auto;
  background-color: lightslategray;
}

#image{
  height: 740px;
  width: 1360px;
  padding-left: 2cm;
  padding-top: 1cm;
}

#trustPilot{
  height: 100px;
  width: 225px;
  padding-bottom: 1cm;
}

.footer{
  position: absolute;
  width: 100%;
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.copyrights{
text-align: center;
}

#yourcart{
  text-align: center;
}

#cartcolumn{
display: flexbox;
text-align: center;
}

#col-span-8{
  padding-left: 200px;
}
.product{
  padding-left:  200px; ;
}

.results{
  padding-left: 200px;
}

#addtobasket{
padding-left: 200px;
}

input[type=text], select, textarea{
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#subject{
  height: 200px;
}
.containerForm {
  border-radius: 5px;
  padding: 19px auto;
  max-width: 300px;
  margin: 0 auto;
}
#Contactform{
  text-align: center;

}


/*------------ media Queries section -------------*/



/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}
/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */

@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}
